*{
    margin: 0px;
    padding: 0px;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body{
    background-color: rgb(5, 4, 19);
}
#header{
    width: 100%;
    height: 13vh;
    background-color: rgb(12, 40, 64);
    background-position: right;
    background-repeat: no-repeat;
}
.container{
    padding: 15px 5%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 15rem;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 15px 15px ;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    font-size: 3vh;
}

nav ul li a:hover{
    color: skyblue;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: skyblue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 1.3s;
}
nav ul li a:hover::after{
    
    width: 80%;
}
nav ul li a:hover::after{
    width: 100%;
    background: rgb(181, 3, 205);
}
.currentPage{
    color: skyblue;
}
.currentPage::after{
    content: '';
    width: 100%;
    height: 3px;
    background: skyblue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 1.3s;
}

/* Form Section */
.form{
    border: 3px solid black;
    text-align: center;
    background-image: url('../files/bodyimg.jpg');
    background-position: center;
    height: 70vh;
    width: 70vh;
    padding: 15px;
    margin: auto;
    margin-top: 10vh;
    font-size: x-large;
    color: white;
}
.form h2{
    margin-top: 5vh;
    font-weight: 1100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    height: 5vh;
    width: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.input1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}
form{
    padding: 5vh;
    display: flex;
    flex-direction: column;
}
button{
    padding: 9px;
    margin-top: 8vh;
    height: 6vh;
    width: 20vh;
    background-color: rgb(12,40,64);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.7s;
}

button:hover{
    background-color: white;
    color: rgb(12,40,64);
    transition: 0.7s;
}